*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
}
.main {
    width: 500px;
    height: 514px;
    border: 1px solid black;
    background-image: url(./img/on.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.parant{
    width: 500px;
    height: 514px;
    border: 1px solid black;
    background-image: url(./img/off.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
button{
    width: 70px;
    height: 50px;
    margin: 20px 0 0 0 ;
    border: 1px solid rgb(150, 150, 150);
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

}
