* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    width: 100%;
    /* background-image: url(Img/06.jpg);   */
    background-color: rgba(0, 0, 0, 0.63);
    /* background-color: #0A192F; */
    color: #FFD700;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: img;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes img{
    0%{
        background-image: url(Img/06.jpg);
    }
    10%{
        background-image: url(Img/05.jpg);
    }
    20%{
        background-image: url(Img/04.jpg);
    }
    30%{
        background-image: url(Img/03.jpg);
    }
    40%{
        background-image: url(Img/02.jpg);
    }
    50%{
        background-image: url(Img/01.jpg);
    }
    100%{
        background-image: url(Img/06.jpg);
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main {
    width: 27%;
    height: 60vh;
    display: flex;
    /* border: 0.01rem solid rgb(0, 0, 0); */
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.129);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}
.top-p {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 10px;
    text-align: right;
    background: transparent;
    border: none;
}


.mid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.r1 {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
}

.btn {
    width: 25%;
    display: flex;
    
    justify-content: center;
    background-color: rgba(183, 207, 253, 0.057);

}
button{
    width: 100%;
    height: 8.8vh;
    background: transparent;
    border: 0;
    font-size: 25px;
}
button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.213);
}