.container{
    width: 60%;
    margin: 100px auto;
    box-shadow: 0 0 8px black;
}
button{
    border: none;
    background-color: transparent;
}
img{
    width: 100%;
}
.prev{
    position: absolute;
    top: 400px;
    left: 200px;
    
}
.next{
    position: absolute;
    top: 400px;
    right: 200px;
}